.app {
  height: 100vh;
  position: relative;
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center the child elements */
  align-items: center; /* Vertically center the child elements */
  background-color: darkgrey;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%; /* Make the image full-width inside the wrapper */
  height: 100%; /* Make the image full-height inside the wrapper */
  object-fit: cover; /* This property will make the image cover the entire container */
}

  .wish {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .wish h2 {
    color: #333;
  }
  
  .wish p {
    color: #555;
  }

  .birthday-wish-container {
    position: absolute; /* Change to relative positioning */
    top: 50%; /* Position the wish container at 50% from the top */
    left: 50%; /* Position the wish container at 50% from the left */
    transform: translate(-50%, -50%);
    width: 100%; /* Make the wish container full-width */
    text-align: center; /* Optional: Center the content inside the wish box */
    
  }
  
  .birthday-wish-box {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px auto;
  }
  
  .birthday-wish-text {
    /* Default font size for larger screens */
    font-size: 16px;
    line-height: 1.5;
  }
  
  .birthday-wish-name {
    margin-top: 10px;
    font-size: 18px;
  }
  
  /* Media query for smaller screens (e.g., phones) */
  @media (max-width: 768px) {
    .birthday-wish-box {
      width: 90%; /* Reduce the width for smaller screens */
      padding: 10px; /* Adjust the padding for smaller screens */
    }
  
    .birthday-wish-text {
      font-size: 14px; /* Reduce the font size for smaller screens */
    }
  }

